//
//  idcloudclientsample.xcconfig
//  idcloudclientsample
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// IdCloud FIDO SDK does not support bitcode
ENABLE_BITCODE = NO

// IdCloud FIDO SDK minimum iOS is 12.0
IPHONEOS_DEPLOYMENT_TARGET = 12.0

// The following search paths is based on this folder structure.
// Please modify accordingly if the structure is different.
//    ├── app
//    │   └── idcloudclientsample
//    └── lib
//        ├── idcloudclient
//        │   ├── debug
//        │   │   └── idcloudclient.xcframework
//        │   └── release
//        │   │   └── idcloudclient.xcframework
//        └── idcloudclientui
//            ├── idcloudclientui
//            └── idcloudclientui.xcodeproj

DEAD_CODE_STRIPPING = YES
DEPLOYMENT_POSTPROCESSING = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = all
COPY_PHASE_STRIP = YES

OTHER_LDFLAGS = $(inherited)
LIB_PATH = $(PROJECT_DIR)/../../lib
FRAMEWORK_SEARCH_PATHS = $(inherited) $(LIB_PATH)/SecureLogAPI/$(CONFIGURATION)
