//
//  idcloudclientsample.xcconfig
//  idcloudclientsample
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// IdCloud FIDO SDK does not support bitcode
ENABLE_BITCODE = NO

// IdCloud FIDO SDK minimum iOS is 14.0
IPHONEOS_DEPLOYMENT_TARGET = 14.0

// The following search paths is based on this folder structure.
// Please modify accordingly if the structure is different.
//    ├── app
//    │   └── idcloudclientsample
//    └── lib
//        ├── IdCloudClient
//        │   ├── Debug
//        │   │   └── IdCloudClient.xcframework
//        │   └── Release
//        │   │   └── IdCloudClient.xcframework
//        ├── SecureLogAPI
//        │   ├── SecureLogAPI.xcframework
//        └── idcloudclientui
//            ├── idcloudclientui
//            └── idcloudclientui.xcodeproj

DEAD_CODE_STRIPPING[config=Release][sdk=*] = YES
DEPLOYMENT_POSTPROCESSING[config=Release][sdk=*] = YES
GCC_GENERATE_DEBUGGING_SYMBOLS[config=Release][sdk=*] = NO
STRIP_INSTALLED_PRODUCT[config=Release][sdk=*] = YES
STRIP_STYLE[config=Release][sdk=*] = all
COPY_PHASE_STRIP[config=Release][sdk=*] = YES

OTHER_LDFLAGS = $(inherited)
LIB_PATH = $(PROJECT_DIR)/../../lib
SECURELOG_API_PATH[sdk=iphoneos*] = $(LIB_PATH)/SecureLogAPI/SecureLogAPI.xcframework/ios-arm64
SECURELOG_API_PATH[sdk=iphonesimulator*] = $(LIB_PATH)/SecureLogAPI/SecureLogAPI.xcframework/ios-arm64_x86_64-simulator
FRAMEWORK_SEARCH_PATHS = $(inherited) $(SECURELOG_API_PATH)

// copyright plist
GENERATE_INFOPLIST_FILE = YES
YEAR_VARIABLE = 2022
INFOPLIST_KEY_NSHumanReadableCopyright = Copyright © $(YEAR_VARIABLE) THALES
