//
//  idcloudclientsample.xcconfig
//  idcloudclientsample
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// IdCloud FIDO SDK does not support bitcode
ENABLE_BITCODE = NO

// IdCloud FIDO SDK minimum iOS is 11.0
IPHONEOS_DEPLOYMENT_TARGET = 11.0

// The following search paths is based on this folder structure. 
// Please modify accordingly if the structure is different.
//    ├── app
//    │   └── idcloudclientsample
//    └── lib
//        ├── idcloudclient
//        │   ├── debug
//        │   │   ├── idcloudclient
//        │   │   └── libidcloudclient.a
//        │   └── release
//        │       ├── idcloudclient
//        │       └── libidcloudclient.a
//        └── idcloudclientui
//            ├── idcloudclientui
//            └── idcloudclientui.xcodeproj

// Add IdCloud FIDO SDK Headers to search path
HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/../../lib/idcloudclient/$(CONFIGURATION)

// Link IdCloud FIDO SDK binary
LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/../../lib/idcloudclient/$(CONFIGURATION)
OTHER_LDFLAGS = $(inherited) -lidcloudclient

DEAD_CODE_STRIPPING = YES
DEPLOYMENT_POSTPROCESSING = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = all
COPY_PHASE_STRIP = YES
